/* Add this CSS to your stylesheet */
@media (max-width: 600px) { /* Adjust the breakpoint as needed */
  table {
    width: 100%;
    font-size: 14px; /* Adjust font size as needed */
  }
  
  th, td {
    padding: 5px;
  }
  
  th {
    display: none; /* Hide table headers on small screens */
  }
  
  td:before {
    /*content: attr(data-label);*/
    float: left;
    font-weight: bold;
  }
}


/* Reset some default styling */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.unit-content {
   padding-top: 5rem;
}

.intro p {
  color: rgb(125,133,144);
}

table {
  border: 1px solid black; /* Add this line to draw table borders */
  border-collapse: collapse;
  width: 70vw;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
 