/* Reset some default styling */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.unit-content {
   padding-top: 5rem;
}

.intro p {
  color: rgb(125,133,144);
}

table {
  border: 1px solid black; /* Add this line to draw table borders */
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
 