/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

a {
  color: #007bff;
  text-decoration: none;
}

/* Navigation bar styles */
.navbar {
  background-color: #000;
  padding: 15px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);  
  /* Make navigation bar sticky */
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-brand {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.navbar-toggler-icon {
  color: #fff;
}

.offcanvas-body .ud{
    color: blue;
    text-decoration: underline;
}

/* Content container styles */
.container {
  padding: 1rem;
}

/* Heading styles */
h1, h2, h3 {
  color: #007bff;
  margin-bottom: 20px;
}

/* Paragraph styles */
p {
  margin-bottom: 15px;
}

/* Styles for the feature sections */
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: white;
  margin-top: 2rem;
  padding-top: 15rem;
  background-image: url('src/Linux-girl-blue.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.feature-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

.feature-title {
  font-size: 24px;
  margin-bottom: 10px;
}

/*overlapping issue*/
.main-content {
  padding-top: 3rem; /* Add some top padding to create space */
}

/* Styles for the unit sections */
.unit {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  margin-top: 1rem;
}

.unit p {
   color: rgb(125,133,144);
}

.unit-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

.unit-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.unit-topics {
  margin-top: 20px;
}

.topic {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.topic-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.unit-icon,.unit-title {
      display: flex;
      justify-content: center;
      align-items: center;
  }

/* Styles for the Help and support section */
.help-support {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black
 /* margin-top: 1rem;*/
}

.icon-button {
  background: none;
  border: 2px solid #4078c0;
  border-color: #4078c0;
  border-radius: 20%;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 2%;
}

/*button*/
.popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button.clicked {
  background-color: #f0f0f0; /* Default background color */
  color: #333;
}

button.clicked:active {
  background-color: #ccc; /* Darkened background color when clicked */
  color: #222;
}

/* Footer styles */
footer {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  bottom: 0;
  margin-bottom: 0;
  text-align: center;
  margin-top: 1rem; 
}

/* Footer column styles */
footer .col-md-6 {
  margin-bottom: 10px; /* Add margin to the bottom of columns */
}

/* Footer link styles */
footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.5rem; /* Add margin between links */
}


/*Media Queries for Responsiveness*/

/* Media Query for 768px and larger screens */
@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;    
  }
  .navbar-brand {
  font-size: 2rem;
  }
  .offcanvas-body .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem; 
}
  .container {
      font-size: 1.2rem;
  }
  .feature-icon {
  font-size: 2.5rem;
  margin-bottom: 0.7rem;
   }

  .feature-title {
  font-size: 2rem;
  margin-bottom: 0.7rem;
   }
  .unit {
   font-size: 2rem;
   }
   .topic-title {
       font-size: 2rem;
   }
  .main-content {
  padding-top: 18rem;
   }
   .icon-button {
  font-size: 2rem;
  }
  .help-support p {
      font-size: 1.4rem;
  }
}

/* Media Query for 1024px and larger screens */
@media screen and (min-width: 1024px) {
  body {
    font-size: 3rem;    
  }
  .navbar-brand {
  font-size: 4rem;
  }
  .offcanvas-body .navbar-nav .nav-item .nav-link {
    font-size: 2rem; 
}
  .container {
  font-size: 1.5rem;
  }
  .feature-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
   }

  .feature-title {
  font-size: 2rem;
  margin-bottom: 1rem;
   }
  .main-content {
  padding-top: 30rem;
   }
   .icon-button {
  font-size: 2.5rem;
  }
  .help-support p {
      font-size: 1.7rem;
  }
}

/* Media Query for 1440px and larger screens */
@media screen and (min-width: 1440px) {
  body {
    font-size: 4rem;    
  }
  .navbar-brand {
  font-size: 4rem;
  }
  .offcanvas-body .navbar-nav .nav-item .nav-link {
    font-size: 2.5rem; 
}
  .container {
  font-size: 2rem;
  }
  .feature-icon {
  font-size: 4rem;
  margin-bottom: 1.5rem;
   }

  .feature-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
   }
  .main-content {
  padding-top: 2rem;
   }
   .feature {
     height: 100vh;
     width: 100%;
   }
   .icon-button {
  font-size: 3rem;
  }
  .help-support p {
      font-size: 2rem;
  }
}

/* Media Query for 2560px and larger screens */
@media screen and (min-width: 2560px) {
  body {
    font-size: 5rem;   
  }
  .navbar-brand {
  font-size: 5rem;
  }
  .offcanvas-body .navbar-nav .nav-item .nav-link {
    font-size: 4rem; 
}
  .container {
  font-size: 3rem;
  }
  .feature-icon {
  font-size: 5rem;
  margin-bottom: 2rem;
   }

  .feature-title {
  font-size: 3rem;
  margin-bottom: 2rem;
   }
  .main-content {
  padding-top: 60rem;
   }  
   .feature {
     height: 100vh;
     width: 100%;
   }
   .icon-button {
  font-size: 4rem;
  }
  .help-support p {
      font-size: 3rem;
  }
  footer a {
  margin: 0 1rem;
}